MQTT_HOST=
MQTT_PORT=1883
MQTT_TOPIC_PREFIX=commute/dashboard

OWM_API_KEY=
OWM_CURRENT_API=https://api.openweathermap.org/data/2.5/weather
OWM_FORECAST_API=https://api.openweathermap.org/data/2.5/forecast
WEATHER_LATITUDE=
WEATHER_LONGITUDE=
SUN_API=https://api.sunrise-sunset.org/json
TIMEZONE=Europe/Stockholm

SL_API_KEY=
SL_DEPARTURES_API=https://transport.integration.sl.se/v1/sites
SL_JOURNEY_API=https://journeyplanner.integration.sl.se/v2/trips
SL_CITY_BUS_SITE_ID=8202
SL_CITY_BUS_DIRECTION=2
SL_OTHER_BUS_SITE_ID=8202
SL_OTHER_BUS_DIRECTION=1
CITY_BUS_LINES=809,809C,807
SL_ORIGIN=
SL_DESTINATION=
SL_ORIGIN_TYPE=any
SL_DESTINATION_TYPE=any
