[Unit]
Description=Kiosk Framebuffer App
DefaultDependencies=no
After=local-fs.target
Before=getty@tty1.service

[Service]
User=m3211n
WorkingDirectory=/home/m3211n/kiosk
Environment="PATH=/home/m3211n/kiosk/venv/bin:/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:/sbin:/bin"
ExecStartPre=/bin/sh -c 'printf "\033[?25l" > /dev/tty0'
ExecStart=/bin/sh -c '/home/m3211n/kiosk/venv/bin/python /home/m3211n/kiosk/main.py --fb'
Restart=on-failure
RestartSec=1
StartLimitBurst=2
StartLimitIntervalSec=15

[Install]
WantedBy=basic.target
